*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.scroll {
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: #000;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER */
.header-main {
  position: relative;
  width: 100%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1400px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* logo */
.logo {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5;
  transition: 0.5;
  cursor: pointer;
  float: left;
}

.logo .logo-link {
  position: absolute;
  width: 100px;
  height: 60px;
  margin-top: -30px;
  /*?????*/
  text-decoration: none;
  background-image: url("./assets/png/clothing_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* navigation header */
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 50px;
}

.nav-menu .nav-list .list__item .item__link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.26px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* search-shipping */
.search-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 30px;
}

/* search bar */
.search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search-bar .search-input {
  max-width: 240px;
  width: 100%;
  height: 44px;
  padding: 0 45px 0 15px;
  font-weight: 500;
  letter-spacing: 0.22px;
  line-height: 25px;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.search-bar .search-button {
  text-align: center;
  width: 40px;
  font-size: 20px;
  background: transparent url("https://demoprestashop.aeipix.com/AX07/futura140/themes/futura/assets/img/aximage/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border: 1px solid #a1a1a1;
  border-radius: 0 10px 10px 0;
  outline: none;
  cursor: pointer;
}

/* header-cart */
.header-cart {
  float: right;
}

.header-cart .container-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  float: right;
  overflow: visible;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: capitalize;
  color: black;
  vertical-align: top;
  z-index: 1;
}

.header-cart .container-cart .shopping-icon {
  width: 30px;
  height: 30px;
  background: transparent url("https://demoprestashop.aeipix.com/AX07/futura140/themes/futura/assets/img/aximage/shopping-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
}

.header-cart .container-cart .shopping-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  vertical-align: top;
  padding: 2px 0 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-cart .container-cart .shopping-desc .cart-products-count {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 24px;
  top: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.2px;
  display: block;
  line-height: 17px;
  text-align: center;
  background-color: #85c38d;
  border-radius: 50%;
}

.header-cart .container-cart .shopping-desc .cart-products-count-value {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: capitalize;
}

.header-cart .container-cart .shopping-desc .cart-products-value {
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.64px;
  color: #000;
  vertical-align: top;
}

/* MAIN */
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-container .nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 80px;
  margin: 0 auto;
}

.nav-container .nav-main .nav-main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 30px;
}

.nav-container .nav-main .nav-main-list span {
  color: white;
}

.nav-container .nav-main .nav-main-list .list__item .item__link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.26px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* CONTAINER CENTER */
.container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.filter-subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #131313;
}

.left-aside {
  width: 25%;
}

.container-left-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 0;
}

.container-left-aside .block-categories {
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}

.container-left-aside .block-categories .block-title {
  margin: 0;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.56px;
  text-transform: capitalize;
  line-height: 24px;
  background-color: #85c38d;
  color: #ffffff;
}

.container-left-aside .block-categories .category-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  padding: 10px 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.container-left-aside .block-categories .category-menu-list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  list-style: none;
  text-decoration: none;
  gap: 30px;
}

.container-left-aside .block-categories .category-menu-list .list__item .item__link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.26px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.center-wrapper {
  width: 75%;
  border: 1px solid green;
}

.search-filters-wrapper {
  margin-bottom: 50px;
}

.search-filters-wrapper .filter-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}

.search-filters-wrapper .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.search-filters-wrapper .search-filter .price-interval {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #131313;
}

.search-filters-wrapper .stock-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.search-filters-wrapper .stock-filter .stock-interval {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #131313;
}

.block-bestseller {
  margin-bottom: 50px;
  background-color: #f7f7f7;
}

.block-bestseller .block-bestseller-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.56px;
  background-color: #85c38d;
  color: #ffffff;
  text-transform: capitalize;
}

.block-bestseller .block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.block-bestseller .block-content .product-item {
  margin-bottom: 20px;
  border: 1px solid green;
}

.block-bestseller .block-content .product-item .left-part {
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid #dedede;
  overflow: hidden;
}

.block-bestseller .block-content .product-item .left-part .product-bestseller-img {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.block-bestseller .block-content .product-item .right-part {
  overflow: hidden;
}

.block-bestseller .block-content .product-item .right-part .product-description {
  padding: 10px 0 0;
}

.block-bestseller .block-content .product-item .right-part .product-description .product-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #232323;
}

.block-bestseller .block-content .product-item .right-part .product-description .product-title .product-bestseller-link {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.84px;
  color: #a1a1a1;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.block-bestseller .block-content .product-item .right-part .product-description .product-price {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #000;
}

.block-special {
  margin-bottom: 50px;
  background-color: #f7f7f7;
}

.block-special .block-special-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.56px;
  background-color: #85c38d;
  color: #ffffff;
  text-transform: capitalize;
}

.block-special .block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.block-special .block-content .special-item {
  margin-bottom: 20px;
  border: 1px solid green;
}

.block-special .block-content .special-item .left-part {
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid #dedede;
  overflow: hidden;
}

.block-special .block-content .special-item .left-part .product-special-img {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.block-special .block-content .special-item .right-part {
  overflow: hidden;
}

.block-special .block-content .special-item .right-part .product-description {
  padding: 10px 0 0;
}

.block-special .block-content .special-item .right-part .product-description .product-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #232323;
}

.block-special .block-content .special-item .right-part .product-description .product-title .product-special-link {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.84px;
  color: #a1a1a1;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.block-special .block-content .special-item .right-part .product-description .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #000;
}

.block-special .block-content .special-item .right-part .product-description .product-price .regular-price {
  font-weight: 400;
  color: #a1a1a1;
  text-decoration: line-through;
}

.block-special .block-content .special-item .right-part .product-description .product-price .discount {
  font-weight: 300;
}

.all-products-best {
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  float: right;
  color: #000000;
  padding: 0;
  background-color: transparent;
  text-transform: capitalize;
  letter-spacing: 0.56px;
  text-decoration: underline;
}

.price-container .price-line,
.stock-container .price-line {
  margin: 15px 20px 0px 20px;
  height: 2px;
  background-color: #72828e;
  z-index: 1;
}

.price-container .squares,
.stock-container .squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-container .squares .square-left,
.price-container .squares .square-right,
.stock-container .squares .square-left,
.stock-container .squares .square-right {
  width: 10px;
  height: 25px;
  margin-top: -12px;
  font-size: 14px;
  color: #fff;
  border: 2px solid #72828e;
  border-radius: 35%;
  text-align: center;
}

.price-container .squares .square-left,
.stock-container .squares .square-left {
  float: left;
}

.price-container .squares .square-right,
.stock-container .squares .square-right {
  float: right;
}

.price-line,
.stock-line {
  margin: 15px 20px 0px 20px;
  height: 2px;
  background-color: #72828e;
  z-index: 1;
}

/* CONTAINER CENTER */
.container-center {
  width: 100%;
  margin-bottom: 50px;
}

.container-center .main-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-list-header {
  width: 100%;
}

.product-list-header .product-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

.product-list-header .product-list-wrapper .category-cover {
  position: relative;
  display: block;
  margin: 0 0 25px;
  width: 100%;
  height: 200px;
  border: 1px solid green;
}

.product-list-header .product-list-wrapper .title-main-category {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* SECTION PRODUCTS */
/* sort filter */
.sort-filter {
  margin: 0 0 30px;
  padding: 10px 0;
  background: #f7f7f7;
  color: #131313;
}

.sort-filter .sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-filter .sort-wrapper .total-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
  padding: 0 20px;
  float: left;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-filter .sort-wrapper .total-products .show-grid {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("./assets/svg/show-grid.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  opacity: 1.0;
  vertical-align: top;
  cursor: pointer;
}

.sort-filter .sort-wrapper .total-products .show-list {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("./assets/svg/show-list.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  opacity: 1.0;
  vertical-align: top;
  cursor: pointer;
}

.sort-filter .sort-wrapper .total-products .sort-text {
  display: inline-block;
  font-weight: 400;
  padding: 5px 10px;
  vertical-align: top;
}

.sort-filter .sort-wrapper .sort-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 58%;
  padding: 0 20px;
  float: left;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-filter .sort-wrapper .sort-row .sort-row-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  font-weight: 400;
  white-space: normal;
  word-break: break-word;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: top;
}

.sort-filter .sort-wrapper .sort-row .sort-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
}

.sort-filter .sort-wrapper .sort-row .sort-col .btn-sort-col {
  display: inline-block;
  width: 100%;
  padding: 4px 10px;
  color: #232323;
  background: #fff;
  text-align: left;
  cursor: pointer;
  border: 1px solid #f5f5f5;
  font-weight: 400;
}

.sort-filter .sort-wrapper .sort-row .sort-col .btn-sort-col .material-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  vertical-align: middle;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  float: right;
}

.sort-filter .sort-wrapper .sort-row .sort-col .drop-down-menu {
  display: none;
}

/* product-container */
.product-container .product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7a7a7a;
  gap: 10px;
}

.product-miniature {
  width: calc((100% - 20px) / 3);
  height: 300px;
  padding: 0 15px;
  border: 1px solid red;
}

.product-miniature .cart-container {
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-miniature .cart-container .cart-img {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.product-miniature .cart-container .cart-img .product-img .main-img {
  width: 100%;
}

.main-img img {
  width: 100%;
}

.second-img {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.second-img img {
  vertical-align: middle;
  max-width: 100%;
}

.product-add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-to-cart .btn-add-to-cart {
  position: relative;
  width: 70px;
  height: 44px;
  padding: 16px 32px;
  background: url("./assets/svg/basket.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #fff;
  border: none;
  outline: 0;
  color: #85c38d;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.add-to-cart .btn-add-to-cart:hover {
  background-color: #efefef;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.cart-description {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0;
  background-color: #fff;
  vertical-align: top;
  text-align: center;
}

.cart-description .product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #000000;
}

.cart-description .product-title .product-page {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.84px;
  color: #737373;
  text-align: center;
  text-decoration: none;
  list-style: none;
  text-transform: none;
}

.cart-description .product-price {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #000;
}

.cart-description .product-detail .product-detail-text {
  color: #737373;
  font-weight: 400;
}

/* pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  background: #f7f7f7;
  color: #000000;
}

.pagination .col-left-pagination {
  float: left;
  width: 41.5%;
}

.pagination .col-right-pagination {
  float: left;
  width: 58.5%;
}

.page-list {
  margin-bottom: 0px;
  padding: 5px 0;
  float: right;
}

.page-list .page {
  display: inline-block;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
}

.page-list .page .disabled-page {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  background-color: #85c38d;
  border: 1px solid #85c38d;
  text-decoration: none;
}

.page-list .page .available-page {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  text-decoration: none;
}

.page-list .page .next-available-page {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  text-decoration: none;
}

/* Footer */
.footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #f7f7f7;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* block contact */
.block-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  padding-bottom: 20px;
}

.block-contact .title-contact {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  color: #000;
}

.block-contact .contact-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-contact .contact-information .london-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  letter-spacing: 0.96px;
  color: #a1a1a1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: capitalize;
  gap: 10px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-contact .contact-information .london-map .icon-location {
  width: 30px;
  height: 30px;
  background-image: url("./assets/svg/icon-location.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.block-contact .contact-information .london-map .title-london {
  float: left;
  line-height: 35px;
}

.block-contact .contact-information .london-map:hover {
  color: black;
}

.block-contact .contact-information .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  letter-spacing: 0.96px;
  color: #a1a1a1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: capitalize;
  gap: 10px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-contact .contact-information .phone .icon-phone {
  width: 30px;
  height: 30px;
  background-image: url("./assets/svg/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.block-contact .contact-information .phone .title-phone {
  float: left;
  line-height: 35px;
}

.block-contact .contact-information .phone:hover {
  color: black;
}

.block-contact .contact-information .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  letter-spacing: 0.96px;
  color: #a1a1a1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-contact .contact-information .email .icon-email {
  width: 30px;
  height: 30px;
  background-image: url("./assets/svg/icon-email.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.block-contact .contact-information .email .title-email {
  float: left;
  line-height: 35px;
}

.block-contact .contact-information .email:hover {
  color: black;
}

/* footer nav */
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  padding-bottom: 30px;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  gap: 30px;
}

.footer-nav__list .list__item .item__link {
  font-weight: 400px;
  letter-spacing: 0.96px;
  color: #a1a1a1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.footer-nav__list .list__item .item__link:hover {
  color: black;
}

/* block social */
.block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  padding-bottom: 30px;
}

.block-social .title-social {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.25px;
  color: #000;
}

.block-social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.block-social .social-list .social-list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-social .social-list .social-list-top .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  letter-spacing: 0.96px;
  color: #a1a1a1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  text-transform: capitalize;
  gap: 10px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-social .social-list .social-list-top .github .github-icon {
  width: 60px;
  height: 30px;
  background-image: url("./assets/svg/github.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.block-social .social-list .social-list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-social .social-list .social-list-bottom .rss-logo {
  width: 60px;
  height: 30px;
  background-image: url("./assets/svg/rs_school_js.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.block-social .social-list .social-list-bottom .year {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  color: #a1a1a1;
  text-align: center;
}

/* MODAL PAGE PURCHASE */
.modal-shadow {
  display: block;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-shadow.active {
  opacity: 1;
  visibility: visible;
}

.modal-purchase-wrapper {
  display: none;
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #85c38d 202.69%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-purchase-wrapper.open {
  z-index: 2;
}

.modal-content {
  width: 100%;
  padding: 0 20px;
}

.modal__close {
  padding: 0 10px;
  text-align: end;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal__close .btn-close {
  width: 50px;
  font-size: 22px;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

.modal-window .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 45px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
}

.form-group .blok-personal,
.form-group .blok-payment {
  padding: 0.9375rem;
  margin: 0 0 30px;
  max-width: 400px;
  width: 100%;
}

.form-group .blok-personal .personal-title,
.form-group .blok-personal .payment-title,
.form-group .blok-payment .personal-title,
.form-group .blok-payment .payment-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #232323;
}

.customer-name-item,
.payment-card-item,
.payment-card-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  font-size: 14px;
  padding-bottom: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-name-item input,
.payment-card-item input,
.payment-card-item-wrap input {
  border-radius: 5px;
}

.payment-card-item-wrap {
  width: 100%;
  padding-bottom: 0px;
}

.btn-payment-submit {
  width: 90px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  background-color: #85c38d;
}

.payment-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bank__item1 {
  width: 50px;
  height: 30px;
  background-image: url("./assets/svg/visa-card.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.bank__item2 {
  width: 50px;
  height: 30px;
  background-image: url("./assets/svg/master-card.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.bank__item3 {
  width: 50px;
  height: 30px;
  background-image: url("./assets/svg/maestro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */