// font-family: 'Poppins', sans-serif;

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

.scroll {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    // width: 1440px;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #000;
    // border: 1px solid red;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid blue;
}

.main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid violet;
}

/* HEADER */ 
.header-main {
    position: relative;
    width: 100%;
    // border: 1px solid green;

}

.header-container {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    // border: 12px solid green;
}

/* logo */
.logo {
    text-align: center;
    box-sizing: border-box;
    transition: 0.5;
    cursor: pointer;
    float: left;
    // .online-story {
    //     visibility: hidden;
    // }
    .logo-link {
        position: absolute;
        width: 100px;
        height: 60px;
        margin-top: -30px; /*?????*/
        text-decoration: none;
        background-image: url('./assets/png/clothing_logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        // border: 1px solid green;
    }
}

/* navigation header */
.nav-menu {
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    //  border: 1px solid red;
    .nav-list {
        display: flex;
        margin: 0 20px;
        align-items: center;
        list-style: none;
        gap: 50px;
        // border: 1px solid red;
        .list__item {
            .item__link {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                letter-spacing: 0.26px;
                text-transform: capitalize;
                color: black;
                text-decoration: none;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
}

/* search-shipping */
.search-shipping {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
}
/* search bar */
.search-bar {
    position: relative;
    display: flex;
    width: 100%;
    .search-input {
        max-width: 240px;
        width: 100%;
        height: 44px;
        padding: 0 45px 0 15px;
        font-weight: 500;
        letter-spacing: 0.22px;
        line-height: 25px;
        color: #a1a1a1;
        border: 1px solid #a1a1a1;
        border-radius: 10px 0 0 10px;
        border-right: none;
    }
    .search-button {
        text-align: center;
        width: 40px;
        font-size: 20px;
        background: transparent url('https://demoprestashop.aeipix.com/AX07/futura140/themes/futura/assets/img/aximage/search.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        border: 1px solid #a1a1a1;
        border-radius: 0 10px 10px 0 ;
        outline: none;
        cursor: pointer;
    }
}

/* header-cart */
.header-cart {
    float: right;
    // border: 1px solid green;
    .container-cart {
        position: relative;
        display: flex;
        width: auto;
        float: right;
        overflow: visible;
        // padding: 14px 0;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.56px;
        text-transform: capitalize;
        color: black;
        vertical-align: top;
        z-index: 1;
        // border: 1px solid green;
        .shopping-icon {
            width: 30px;
            height: 30px;
            background: transparent url('https://demoprestashop.aeipix.com/AX07/futura140/themes/futura/assets/img/aximage/shopping-cart.svg');
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            float: left;
        }
        .shopping-desc {
            display: flex;
            float: left;
    // display: inline-block;
            vertical-align: top;
            padding: 2px 0 0 20px;
            align-items: center;
            // border: 1px solid red;
            .cart-products-count {
                position: absolute;
                width: 17px;
                height: 17px;
                left: 24px;
                top: 5px;
                color: #fff;
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 0.2px;
                display: block;
                line-height: 17px;
                text-align: center;
                background-color: #85c38d;
                border-radius: 50%;
            }
            .cart-products-count-value {
                font-size: 14px;
                font-weight: 600;
                color: #ffffff;
                line-height: normal;
                letter-spacing: 0.56px;
                text-transform: capitalize;
            }
            .cart-products-value {
                display: inline-block;
                font-size: 16px;
                line-height: normal;
                font-weight: 500;
                letter-spacing: 0.64px;
                color: #000;
                vertical-align: top;
            }
        }
    }
}


/* MAIN */
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    // border: 1px solid blue;
}

.nav-container {
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    // border: 1px solid fuchsia;
    .nav-main {
        display: flex;
        width: auto;
        height: 80px;
        margin: 0 auto;
        .nav-main-list {
            display: flex;
            margin: 0 20px;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 30px;
            span {
                color: white;
            }
            .list__item {
                .item__link {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0.26px;
                    text-transform: capitalize;
                    color: white;
                    text-decoration: none;
                    transition: 0.5s;
                    cursor: pointer;
                }
            }
        }
    }
}

/* CONTAINER CENTER */
.container-center {
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid fuchsia;
}

.filter-subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #131313;
}

.left-aside {
    // border: 1px solid red;
    width: 25%;
} 

.container-left-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
    padding-left: 0;
    .block-categories {
        width: 100%;
        background-color: #f7f7f7;
        margin-bottom: 30px;
        .block-title {
            margin: 0;
            padding: 10px 15px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.56px;
            text-transform: capitalize;
            line-height: 24px;
            background-color: #85c38d;
            color: #ffffff;
        }
        .category-menu-list {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            padding: 10px 15px;
            justify-content: left;
            align-items: flex-start;
            list-style: none;
            // border: 1px solid red;
            .list__item {
                display: flex;
                color: #000;
                list-style: none;
                text-decoration: none;
                gap: 30px;
                // border: 1px solid green;
                .item__link {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0.26px;
                    text-transform: capitalize;
                    color: black;
                    text-decoration: none;
                    transition: 0.5s;
                    cursor: pointer;
                }
            }
        }
    }
}

.center-wrapper {
    width: 75%;
    border: 1px solid green;

}
.search-filters-wrapper {
    margin-bottom: 50px;
    .filter-title {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
    }
    .search-filter {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .price-interval {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
            color: #131313;
        }
    }
    .stock-filter {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .stock-interval {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
            color: #131313;
        }
    }
}

.block-bestseller {
    margin-bottom: 50px;
    background-color: #f7f7f7;
    .block-bestseller-title {
        margin: 0;
        margin-bottom: 30px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.56px;
        background-color: #85c38d;
        color: #ffffff;
        text-transform: capitalize;
    }
    .block-content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        .product-item {
            margin-bottom: 20px;
            border: 1px solid green;
            .left-part {
                float: left;
                margin: 0 15px 0 0;
                border: 1px solid #dedede;
                overflow: hidden;
                // background-image: url('./assets/png/clothing_logo.png');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: 100%;
                .product-bestseller-img {
                    color: #000000;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
            .right-part {
                overflow: hidden;
                .product-description {
                    padding: 10px 0 0;
                    .product-title {
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #232323;
                        .product-bestseller-link {
                            text-align: center;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.84px;
                            color: #a1a1a1;
                            text-decoration: none;
                            text-transform: none;
                            transition: all 300ms ease;
                        }
                    }
                    .product-price {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.7px;
                        color: #000;
                    }
                }

            }
        }
    }
}

.block-special {
    margin-bottom: 50px;
    background-color: #f7f7f7;
    .block-special-title {
        margin: 0;
        margin-bottom: 30px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.56px;
        background-color: #85c38d;
        color: #ffffff;
        text-transform: capitalize;
    }
    .block-content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        .special-item {
            margin-bottom: 20px;
            border: 1px solid green;
            .left-part {
                float: left;
                margin: 0 15px 0 0;
                border: 1px solid #dedede;
                overflow: hidden;
                    // background-image: url('./assets/png/clothing_logo.png');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: 100%;
                .product-special-img {
                    color: #000000;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
            .right-part {
                overflow: hidden;
                .product-description {
                    padding: 10px 0 0;
                    .product-title {
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #232323;
                        .product-special-link {
                            text-align: center;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.84px;
                            color: #a1a1a1;
                            text-decoration: none;
                            text-transform: none;
                            transition: all 300ms ease;
                        }
                    }
                    .product-price {
                        display: flex;
                        flex-direction: column;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.7px;
                        color: #000;
                        .regular-price {
                            font-weight: 400;
                            color: #a1a1a1;
                            text-decoration: line-through;
                        }
                        .discount {
                            font-weight: 300;
                        }
                    }
                }

            }
        }
    }

}

.all-products-best {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    float: right;
    color: #000000;
    padding: 0;
    background-color: transparent;
    text-transform: capitalize;
    letter-spacing: 0.56px;
    text-decoration: underline;
}

.price-container,
.stock-container {
    .price-line {
        // position: fixed;
        margin: 15px 20px 0px 20px;
        height: 2px;
        background-color: #72828e;
        z-index: 1;
    }
    .squares {
        display: flex;
        .square-left,
        .square-right {
            // position: absolute;
            width: 10px;
            height: 25px;
            margin-top: -12px;
            font-size: 14px;
            color: #fff;
            border: 2px solid #72828e;
            border-radius: 35%;
            text-align:center;
            // box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
        }
        .square-left {
            float: left;
        }
        .square-right {
            float: right;
        }
    }
}

.price-line,
.stock-line {
    // position: fixed;
    margin: 15px 20px 0px 20px;
    height: 2px;
    background-color: #72828e;
    z-index: 1;
}

/* CONTAINER CENTER */
.container-center {
    width: 100%;
    margin-bottom: 50px;
    .main-center-container {
        display: flex;
        flex-direction: column;

    }
}

.product-list-header {
    width: 100%;
    .product-list-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        .category-cover {
            position: relative;
            display: block;
            margin: 0 0 25px;
            width: 100%;
            height: 200px;
            border: 1px solid green;
            .cover-product {
                // max-width: 100%; /* это значение поставить после добавления картинки */
            }
        }
        .title-main-category {
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
        }
        .text-main-category {

        }
    }
}

.products {
    display: flex;
    flex-direction: column;
}


/* SECTION PRODUCTS */
/* sort filter */
.sort-filter {
    margin: 0 0 30px;
    padding: 10px 0;
    background: #f7f7f7;
    color: #131313;
    .sort-wrapper {
        display: flex;
        // justify-content: space-between;
        // padding: 0 20px;
        .total-products {
            display: flex;
            width: 42%;
            padding: 0 20px;
            float: left;
            gap: 20px;
            align-items: center;
            // border: 1px solid green;
            .show-grid {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-image: url('./assets/svg/show-grid.svg');
                background-size: 90%;
                background-repeat: no-repeat;
                opacity: 1.0;
                vertical-align: top;
                cursor: pointer;                
            }
            .show-list {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-image: url('./assets/svg/show-list.svg');
                background-size: 90%;
                background-repeat: no-repeat;
                opacity: 1.0;
                vertical-align: top;
                cursor: pointer;
            }
            .sort-text {
                display: inline-block;
                font-weight: 400;
                padding: 5px 10px;
                vertical-align: top;
            }
        }
        .sort-row {
            display: flex;
            width: 58%;
            padding: 0 20px;
            float: left;
            gap: 20px;
            justify-content: end;
            align-items: center;
            // border: 1px solid green;
            .sort-row-text {
                display: flex;
                height: 40px;
                font-weight: 400;
                white-space: normal;
                word-break: break-word;
                text-align: right;
                align-items: center;
                vertical-align: top;
                // border: 1px solid green;
            }
            .sort-col{
                display: flex;
                width: 250px;
                .btn-sort-col {
                    display: inline-block;
                    width: 100%;
                    padding: 4px 10px;
                    color: #232323;
                    background: #fff;
                    text-align: left;
                    cursor: pointer;
                    border: 1px solid #f5f5f5;
                    font-weight: 400;
                    .material-icon {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        font-size: 18px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        vertical-align: middle;
                        text-transform: none;
                        word-wrap: normal;
                        white-space: nowrap;
                        float: right;
                    }
                }
                .drop-down-menu {
                    display: none;
                }
            }
        }
    }
}

/* product-container */
.product-container {
    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: flex-start;
        color: #7a7a7a;
        gap: 10px;
    }
}

.product-miniature {
    width: calc((100% - 20px) / 3);
    height: 300px;
    padding: 0 15px;
    border: 1px solid red;
    .cart-container {
        position: relative;
        margin-bottom: 30px;
        transition: all 0.5s ease;
        .cart-img {
            position: relative;
            overflow: hidden;
            transition: all 500ms ease 0s;
            .product-img {
                .main-img {
                    width: 100%;
                }
            }
        }
    }
}

.main-img img {
    width: 100%;
}

.second-img {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform: scaleX(0);
    transition: all 500ms ease 0s;
}

.second-img img {
    vertical-align: middle;
    max-width: 100%;
}

.product-add-to-cart {
    display: flex;
    justify-content: center;
}
.add-to-cart {
    display: flex;
    width: 100px;
    justify-content: center;
    .btn-add-to-cart {
        position: relative;
        width: 70px;
        height: 44px;
        padding: 16px 32px;
        background: url('./assets/svg/basket.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        // border: solid 1px red;
        background-color: #fff;
        // color: #212121;
        border: none;
        outline: 0;
        color: #85c38d;
        text-transform: uppercase;
        cursor: pointer;
        transition: all ease 0.5s;
        &:hover {
            background-color: #efefef;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        }
    }
}

.cart-description {
    position: relative;
    display: inline-block;
    width: 100%;
    margin:  0 auto;
    padding: 10px 0 0;
    background-color: #fff;
    vertical-align: top;
    text-align: center;
    .product-title {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        color: #000000;
        .product-page {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.84px;
            color: #737373;
            text-align: center;
            text-decoration: none;
            list-style: none;
            text-transform: none;
        }
    }
    .product-price {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.7px;
        color: #000;
    }
    .product-detail {
        .product-detail-text {
            color: #737373;
            font-weight: 400;
        }
    }
}


/* pagination */
.pagination {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    font-weight: 400;
    align-items: center;
    border-radius: 0;
    background: #f7f7f7;
    color: #000000;
    .col-left-pagination {
        float: left;
        width: 41.5%;
    }
    .col-right-pagination {
        float: left;
        width: 58.5%;
    }
}

.page-list {
    margin-bottom: 0px;
    padding: 5px 0;
    float: right;
    .page {
        display: inline-block;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        .disabled-page {
            display: block;
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            color: #ffffff;
            background-color: #85c38d;
            border: 1px solid #85c38d;
            text-decoration: none;
        }
        .available-page {
            display: block;
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            color: #ffffff;
            background-color: #000000;
            border: 1px solid #000000;
            text-decoration: none;
        }
        .next-available-page {
            display: block;
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            color: #ffffff;
            background-color: #000000;
            border: 1px solid #000000;
            text-decoration: none;

        }
    }
}

/* Footer */
.footer {
    max-width: 1440px;
    width: 100%;
    // min-height: 200px; /*350*/
    margin: 0 auto;
    background: #f7f7f7;;
}

.footer-container {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: 100%;
    // min-height: 170px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 20px;
    justify-content: space-between;
    // border: solid 1px red;
}

/* block contact */
.block-contact {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 20px;
    // border: solid 1px blue;
    .title-contact {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.25px;
        text-transform: capitalize;
        color: #000;
    }
    .contact-information {
        display: flex;
        flex-direction: column;
        .london-map {
            display: flex;
            font-weight: 400px;
            letter-spacing: 0.96px;
            color: #a1a1a1;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            gap: 10px;
            list-style: none;
            text-decoration: none;
            cursor: pointer;
            transition:  0.5s;
            .icon-location {
                width: 30px;
                height: 30px;
                background-image: url('./assets/svg/icon-location.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
            }
            .title-london {
                float: left;
                line-height: 35px;
            }
        }
        .london-map:hover {
            color: black;
        }
        .phone {
            display: flex;
            font-weight: 400px;
            letter-spacing: 0.96px;
            color: #a1a1a1;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            gap: 10px;
            list-style: none;
            text-decoration: none;
            cursor: pointer;
            transition:  0.5s;
            .icon-phone {
                width: 30px;
                height: 30px;
                background-image: url('./assets/svg/icon-phone.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;

            }
            .title-phone {
                float: left;
                line-height: 35px;
            }
        }
        .phone:hover {
            color: black;
        }
        .email {
            display: flex;
            font-weight: 400px;
            letter-spacing: 0.96px;
            color: #a1a1a1;
            align-items: center;
            text-align: center;
            gap: 10px;
            list-style: none;
            text-decoration: none;
            cursor: pointer;
            transition:  0.5s;
            .icon-email {
                width: 30px;
                height: 30px;
                background-image: url('./assets/svg/icon-email.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
            }
            .title-email{
                float: left;
                line-height: 35px;
                
            }
        }
        .email:hover {
            color: black;
        }
    }
}

/* footer nav */
.footer-nav {
    display: flex;
    padding: 0 20px;
    padding-bottom: 30px;
    // justify-content: space-between;

}

.footer-nav__list {
    display: flex;
    // padding: 0 20px;
    justify-content: space-between;
    align-items:flex-end;
    list-style: none;
    gap: 30px;
    // border: 1px solid red;
    .list__item {
        .item__link {
            font-weight: 400px;
            letter-spacing: 0.96px;
            color: #a1a1a1;
            align-items: center;
            text-align: center;
            text-decoration: none;
            transition: 0.5s;
            cursor: pointer;
        }
        .item__link:hover {
            color: black;
        }
    }
}

/* block social */
.block-social {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 30px;
    // border: solid 1px blue;
    .title-social {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.25px;
        color: #000;
    }
    .social-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .social-list-top {
            display: flex;
            flex-direction: column;
            .github {
                display: flex;
                font-weight: 400px;
                letter-spacing: 0.96px;
                color: #a1a1a1;
                align-items: center;
                text-align:start;
                text-transform: capitalize;
                gap: 10px;
                list-style: none;
                text-decoration: none;
                cursor: pointer;
                transition:  0.5s;
                .github-icon {
                    width: 60px;
                    height: 30px;
                    background-image: url('./assets/svg/github.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 80%;
                }
            }
        }
        .social-list-bottom {
            display: flex;
            width: 100%;
            align-items: center;
            .rss-logo {
                width: 60px;
                height: 30px;
                background-image: url('./assets/svg/rs_school_js.svg');
                background-position: center;
                background-repeat: no-repeat;
            }
            .year {
                margin: 0 auto;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.96px;
                color: #a1a1a1;
                text-align: center;
            }
        }
    }
}

/* MODAL PAGE PURCHASE */
.modal-shadow {
    display: block;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.5s ease-in;
    background-color: rgba(0, 0, 0, 0.4);
} 

.modal-shadow.active {
    opacity: 1;
    visibility: visible;
}

.modal-purchase-wrapper {
    display: none;
    // position: fixed;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #85c38d 202.69%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    // float: right;
    // border: 1px solid red;
}

.modal-purchase-wrapper.open {
    z-index: 2;
}

.modal-content {
    width: 100%;
    padding: 0 20px;
    // border: 1px solid red;
}

.modal__close {
    padding: 0 10px;
    text-align: end;
    cursor: pointer;
    transition: 0.5s;
    // border: 1px solid red;
    .btn-close {
        width: 50px;
        font-size: 22px;
        font-weight: 600;
        border: none;
        background-color: transparent;
    }
}

.modal-window {
    .modal-content {
        display: flex;
        flex-direction: column;
    }
}

.form-group {
    // position: fixed;
    display: flex;
    flex-direction: column;
    padding: 25px 45px 25px;
    align-items: center;
    transition: top 0.5s ease 0s;
    // border: 1px solid blue;
    .blok-personal,
    .blok-payment {
        padding: 0.9375rem;
        margin: 0 0 30px;
        max-width: 400px;
        width: 100%;
        // border: 1px solid green;
        .personal-title,
        .payment-title {
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: #232323;
        }
    }
}

.customer-name-item,
.payment-card-item,
.payment-card-item-wrap {
    display: flex;
    width: 90%;
    font-size: 14px;
    padding-bottom: 5px;
    justify-content: space-between;
    input {
        border-radius: 5px;
    }
}

.payment-card-item-wrap {
    width: 100%;
    padding-bottom: 0px;
}

.btn-payment-submit {
    width: 90px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: #85c38d;
}

.payment-card-wrap {
    display: flex;
    flex-direction: column;
}
.logo-bank {
    display: flex;
}

.bank__item1 {
    width: 50px;
    height: 30px;
    background-image: url('./assets/svg/visa-card.svg');
    background-position: center;
    background-repeat: no-repeat;
    // border: 1px solid green;
}

.bank__item2 {
    width: 50px;
    height: 30px;
    background-image: url('./assets/svg/master-card.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    // border: 1px solid green;
}

.bank__item3 {
    width: 50px;
    height: 30px;
    background-image: url('./assets/svg/maestro.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    opacity: 0.5;
    // border: 1px solid green;
}